body {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

.heading,
.sub-heading {
	display: inline-block;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 25px;
}

.game-area {
	width: 750px;
	height: 750px;
}

.table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

.table td {
	border: 1px solid black;
}

.game-controls {
	height: 70vh;
	width: 20%;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 25px;
}

.score-board {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 10px;
	margin: 20px 0px;
}

.score-board .score-heading {
	text-align: left;
}

.score-board .score-value {
	text-align: right;
}

.input-section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.input-section .algorithm {
	width: 100%;
	height: 30px;
}

.input-section .user-input {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
	margin: 20px 0px;
}

.input-section .user-input label {
	justify-self: start;
	align-self: end;
}
.input-section .user-input input {
	height: 20px;
}

.input-section button {
	margin-top: 10px;
	height: 30px;
	width: 100%;
}

.app-version {
	position: fixed;
	bottom: 1px;
	left: 4px;
    font-size: 10px;
}

@media only screen and (max-width: 1440px) {
	.game-area {
		width: 700px;
		height: 700px;
	}
}

@media only screen and (max-width: 1200px) {
	.game-area {
		width: 650px;
		height: 650px;
	}
}

@media only screen and (max-width: 992px) {
	.container {
		flex-direction: column;
	}

	.game-area {
		width: 550px;
		height: 550px;
	}

	.game-controls {
		width: 100%;
		height: 40vh;
	}
}

@media only screen and (max-width: 768px) {
	.game-area {
		width: 500px;
		height: 500px;
	}
}

@media only screen and (max-width: 575px) {
	.game-area {
		width: 400px;
		height: 400px;
	}
}

@media only screen and (max-width: 440px) {
	.game-area {
		width: 325px;
		height: 325px;
	}
}


